/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

html {
    font-family: 'Montserrat';
}

.container {
    position: relative;
}
#landingImg {
    width: 1900px;
    height: 1000px;
}

.landingTxt {
    /* position: relative; */
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 37px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.logo{
    width: 10%;
    padding: 10px;
    
    
}

.navMenu {
    float: right;
    padding: 30px;
    
}
.navMenu a {
    padding: 30px;
    font-family: 'Montserrat';
    text-decoration: none;
    color: #1A1A1A;
} 

.what {
    font-size: 55px;
    font-family: 'Montserrat';
    text-align: center;
    padding: 30px;
    margin-top: 70px;
}

.containerAd {
    
display: flex;
padding: 50px;

}
.musicIcon {
    
    display:inline;
width: 430px;
margin: auto;
padding: 20px;
text-align: center;
/* display: flex; */
}
.containerAd  h1 {
margin : 0px;
/* display: flex; */
}

.wavesIcon {
    display:inline;
    width: 490px;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    /* display: flex; */
}

.deviceIcon {
    display:inline;
    width: 460px;
    margin: auto;
    padding: 20px;
    text-align: center;
    /* display: flex; */

}

.greenDiv {
    height: 900px;
    background-color: #1DB954 ;
    color: white;
}

.greenDiv h1 {
    font-size: 40px;
    text-decoration: underline;
    float: left;
    margin: 100px 100px 90px;
    letter-spacing: 10px;
    bottom: 5px;
}

.greenDiv  h2, p {
    font-size: 20px;
    margin-left: 130px;
    padding: 15px;
    width: 300px;
    display: block;
    
}
.spotifyWhteLogo {
    margin-top: -450px;
    margin-left: 0px;
    display: flex;
    justify-content: center;

}

.spotyAppImg {
    float: right;
    margin-right: 180px;
    margin-top: -430px;
    display: flex;
    justify-content: center;

}

#spotifyWhteLogo {
    margin: 0 auto;
    width: 200px; 
}
#spotyAppImg {
    width: 400px;
    float: right;
}

footer {
    text-align: center;
    padding: 30px;
}